<div class="nested-fields">
  <div class="form-group col-md-3">
    <%= f.label :quantity %>
    <%= f.text_field :quantity, class: 'form-control' %>
  </div>
  
  <div class="form-group col-md-5">
    <%= f.label :material_id %>
    <%= f.collection_select(:material_id, @materials, :id, :title, include_blank: false, class: 'form-control' ) %>
  </div>
  
  <div>
    <%= link_to_remove_association "remove purchase item", f %>
  </div>
  
</div>